* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face {
    font-family: Aero;
    src: url(Aeroportal.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Aero;
    src: url(Aeroportal_Medium.ttf);
    font-weight: "bold";
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    font-family: Aero;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:smallcaps;
    width:100%;
    background: linear-gradient(to bottom, #a9f7ff 0%,#2989d8 50%,#207cca 74%,#7db9e8 100%);
    background-size: auto 100vh;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#LOGS {
	position:absolute;
	left:2%;
	top:12%;
	width:96%;
	bottom:0;
	z-index:2;
	overflow: hidden;
}
#logs {
	width:100%;
	font: 15px Verdana;
	display:block;
}

#logo {
	position:absolute;
	left:0%;
	top:0%;
	width:60%;
	z-index:2;
}
#wifi,#wifi2 {
	position: absolute;
    right: 2%;
    top: 3%;
    width: 60%;
    text-align: right;
    z-index: 2;
    font-size: 3vh;
    font-family: Verdana;
    color: #555555;
}
#paypal {
	position:absolute;
	right:4%;
	bottom:4%;
	width:30%;
}


#live {
	position:absolute;
	left:35%;
	width:30%;
	top:38%;
	border-radius : 2vw;
	border: 0.5vw solid #f3d3c5;
}
#wifi_gomb {
	position:absolute;
	left:40%;
	width:20%;
	bottom:15%;
	font-size: 5vh;
	font-family: Verdana;
	text-align:center;
	background: #dadaff;
	padding:2vw;
	border-radius : 2vw;
	border: 0.5vw solid #5353a5;
}

.back {
	position:absolute;
	top:2%;
	left:1%;
	height:8vh;
}
h1{
	position:absolute;
	right:1vw;
	top:2vh;
	font-size: 6vh;
	color:#BB3A25;
	text-shadow: 3px 3px #F6E500;
	text-align:right;
	background: #ffffff;
	opacity: 0.85;
	--border-radius: 3vh;
	padding:2vh;
	padding-bottom:1vh;
}

p {
	position:absolute;
	left:7%;
	right:7%;
	top: 25%;
	bottom:50%%;
	font: 6vh Verdana;
	color:#FB6A65;
	text-shadow: 2px 2px #063500;
}

#StreamLista {
	position:absolute;
	bottom: 10vh;
	left:7vw;
	right:7vw;
	display:block;
}
#StreamLista li {
	float:left;
	
}
#StreamLista li img {
	width: 24vw;
	margin:2vh 2vw;
	margin-bottom:1vh;
	border: 0.4vh solid #f7d346;
	border-radius : 3vh;
}
#StreamLista h2 {
	text-align:center;
	font-size: 5vh;
	margin-bottom:1vh;
	width:100%;
	height:5vh;
	color: #f7d346;
	border-bottom: 0.3vh solid #f7d346;
}
#StreamLista li h3 {
	text-align:center;
	font-size: 3vh;
	margin-bottom:1vh;
}

film {
	position: absolute;
	bottom:12%;
	left:1%;
	width:98%;
}
video {
	width: 100%;
	height:100%;
}

#stream_nev {
	position:absolute;
	left:10%;
	right:10%;
	bottom: 6%;
	font-size: 5vh;
	color:#ffCA25;
	--text-shadow: 2px 2px #F00000;
	text-align:center;
}
#stream_musor {
	position:absolute;
	left:10%;
	right:10%;
	bottom: 1%;
	font-size: 5vh;
	color:##f7d346;
	--text-shadow: 2px 2px #F00000;
	text-align:center;
}


.paypal {
	position:absolute;
	left:25%;
	bottom:4%;
	width:50%;
}

hatter {
	background: #fafafa;
	opacity: 0.3;
	position:absolute;
	left:0;
	right:0;
	top:21vh;
	bottom:0;
}

scroll{
	position:absolute;
	left:0;
	right:0;
	top:21vh;
	height:79vh;
	overflow:hidden;
	padding-left:20vw;
	padding-right:20vw;
	border-top: 1.5vh solid #DEE2F0;
}
ul {
	display:block;
	padding-bottom: 10vh;
}

#Replay li{
	position:relative;
	width:60vw;
	height:15vh;
	border: 0.3vh solid #333333;
	border-radius: 2vh;
	background: #b0ffb0;
	opacity: 0.95;
	margin-top: 2vh;
}
#Replay li img{
	position:absolute;
	left:2%;
	top:2%;
	height:96%;
	
}
#Replay li mecss {
	position:absolute;
	left:22%;
	top:10%;
	width:70%;
	font: 2vh Verdana;
	color: #003000;
}
#Replay li cim{
	position:absolute;
	left:22%;
	top:33%;
	width:40vw;
	font: 4vh Verdana;
	color: #104010;
}
#Replay li info{
	position:absolute;
	right:5%;
	bottom:2%;
	width:30%;
	font: 3vh Verdana;
	color: #406040;
	text-align: right;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.7; }
    to { opacity: 1.0; }
}
@keyframes fade2 {
    from { opacity: 0.7; }
    50% { opacity: 1.0; }
    to { opacity: 0.7; }
} 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.7; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 4000ms infinite;
    -webkit-animation:fade 4000ms infinite;
    animation-timing-function: ease-in-out;
}
.blink2{
	animation:fade2 4000ms infinite;
    -webkit-animation:fade2 4000ms infinite;
    animation-timing-function: ease-in-out;
}

.goool{
	animation:goool 1000ms;
	animation-timing-function: ease-in;
	animation-iteration-count:1;
}
@keyframes goool {
	from { left:31%; bottom:36%; width:10%; }
	to { left:-10%; bottom: -30%; width:120%; }
}