popup { display:none; }

ikon {
    height: 3em;
    --margin: 0.6em;
    float: left;
    width: 15%;
}

#user {
	position: absolute;
    right: 18%;
    top: 3%;
    width: 60%;
    height: 12%;
    text-align: right;
    z-index: 2;
    font-size: 3vh;
    font-family: Verdana;
    color: #555555;
}
#USER_ID {
	display:none;
	margin-top: 3%;
	margin-right:3%;
    font-size: 1.5em;
    background: #438df1;
    color:#f5f5e1;
    border-radius: 0.4em;
    padding: 0.3em 0.6em;
}    
#kosar {
	position: absolute;
    right: 10%;
    top: 3%;
    width: 6%;
    height: 12%;
    text-align: right;
    z-index: 2;
    font-size: 3vh;
    font-family: Verdana;
    color: #555555;
}
#info {
	position: absolute;
    right: 2%;
    top: 3%;
    width: 6%;
    height: 12%;
    text-align: right;
    z-index: 2;
    font-size: 3vh;
    font-family: Verdana;
    color: #555555;
}
#user img, #info img, #kosar img {
	float: right;
	height:100%;
}

hatter {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:10;
	overflow: hidden;
	opacity: 0.5;
	background: black;
}
exit {
	position: absolute;
    right: 1%;
    top: 4%;
    height: 9%;
    width: 10%;
    background: url('../img/exit.png') no-repeat center;
    background-size: contain;
    display: block;
}
.login {
	position:absolute;
	left:27%;
	top:10%;
	width:46%;
	display:block;
	z-index:11;
	background: #4795d2;
	border: 0.3em solid #075592;
	border-radius : 0.8em;
	padding: 0.6em;
	padding-bottom: 3%;
}
.login h4{
	color: #f1e36e;
	font: 1.3em Verdana;
	margin: 3%;
	float:left;
	display:block;
}
.login span {
	display:block;
	width: 27%;
	float:left;
	font: 1em Verdana;
	color: #fafafa;
	padding-left:2%;
	clear:left;
	 
}
.login span, .login .mezo, .login .chkbox{
	margin-top:3%;
}
.login .chkbox { margin-left: 20%; margin-top: 3%; float:left; }
.login .mezo { 
	width: 62%;
	font: 1em Verdana;
	padding: 0.1em 0.2em;
}
.login label {
	color: #fffafa;
	margin-left:3%;
	font:0.9em Verdana;
	display:block;
	margin-top:3%;
}
.login .gomb {
	position: relative;
	background: #07f582;
	border: 0.2em solid #005542;
	border-radius : 0.6em;
	padding: 0.4em;
	font: bold 1.2em Verdana;
	color: #005542;
	text-align:center;
	margin-left:29%;
	width:60%;
	height:14%;
	margin-top: 3%;
	display:inline-block;
}
.login .paros {
	background: #f58207;
	color: white;
	float:left;
	margin-left:4%;
	width: 40%;
	font-size: 1em;
	font-weight: normal;
}
.login .nagy {
	background: #f58207;
	color: white;
	margin-left:12%;
	width: 70%;
	font-size: 1em;
	font-weight: normal;
	--margin-top:4%;
	--margin-bottom: 4%;
}
#INFO .nagy {
	margin-left:7%;
	width: 80%;
}
.login info {
	display: block;
    font: 1em/1.4em Verdana;
    color: white;
    width: 94%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    clear:left;
}
#MESSAGE .login info {
	font:1.2em/1.5em Verdana;
	clear:initial;
	margin-left:0;
	margin-bottom:0;
	display:inline-block;
	width:80%;
	text-align:justify;
}


.login off {
	position:absolute;
	left: 3%;
	top:18%;
	text-align:right;
	color:#01ff9a;
}
.login ar {
	position:absolute;
	right: 3%;
	top:18%;
	text-align:right;
	color:#dadada;
}

#TEL {
	color : yellow;
}

#loggedin{
	color : yellow;
	float:right;
	margin-right:15%;
}